<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
#example1 {
  border: 2px solid black;
  padding: 25px;
  background: url(mountain.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

#example2 {
  border: 2px solid black;
  padding: 25px;
  background: url(Eternity.svg);
  background-repeat: no-repeat;
  background-size: contain;height: 50px;
}
</style>
</head>
<body>
    <div id="example2">
 <div style="font-size: 25px;">&ensp;&ensp;&ensp;&ensp;&ensp;saad</div>  
    </div>
</body>
</html>